//Colores
$color_principal: #494FC1;
$color_secundario: #EFFAFD;
$color_terciario: #ABE5F5;


$color_bsec:#062A34;
$color_bsec1: #0B4F62;
//Fuente
$color_fuente: #f2fbfd;
//Tamaños Fuente

$titulo_gral: 4rem;
$titulo_seccion: 2.4rem;



//Text Shadows

$txt_shadow1: 1px 1px 1px rgba(0,0,0,.5);
//Media Queries
$telefono: 480px;
$telefono_vertical: 768px;
$tablet: 834px;
$tablet_vertical: 1024px;
$desktop: 1440px;