
.login
{
    
    &-main
    {
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    &-form
    {
        h4{
            font-size: 2.4rem;
            margin: 0;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        &-img{
            width: 30%;
        }
    }
    
    &-options{
        font-family: 'Montserrat', 'sans-serif';
    }
}
