@use '../base/keyframes';
@use '../base/variables' as v;
@use '../base/mixins' as m;

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.activo {
    display: flex;
    animation: fadeIn 0.3s ease;
    overflow-y: hidden;
  }

    &_contenido
    {
        background: #fff;
        background: #fff;
        padding: 1rem;
        border-radius: 10px;
        width: 90%;
        max-width: 400px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        animation: slideIn 0.3s ease;

        p, button{
            font-size: 1.4rem;
        }
    }
}

.modal_contenido {
  background: #fff;
  //padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: slideIn 0.3s ease;

  p, button{
    font-size: 1.2rem;
  }

  .titulo-secundario
  {
    display: flex;
    justify-content: center;
    img{
      height: 2.4rem;
      width: auto;
    }
  }

}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.acciones {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}



