@use '../base/variables' as v;


.nav
{

    &-general{
        display: flex;
        width: 80%;
        height: 3rem;
        margin: 0 auto;
        font-family: 'Montserrat', 'Sans-serif';
        a{
            color: white;
            transition: color 0.4s ease;

            &:hover
            {
                color: v.$secundario;
                cursor: pointer;
                font-weight: bold;
                
            }
        }

        .barra{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            margin: 0 1rem;

            .nav-izquierda
            {
                
                
                
                .regresar
                {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    a{
                        &:hover{
                            color: v.$secundario;
                        }
                    }
                }

            }
        }
    
    }
    

    &-principal{
        display: flex;
        align-items: center;
        gap: 1rem;

        a{
            display: flex;
            align-items: center;
            line-height: 1;
        }
    }

    &-pcu{
        display: flex;
    }
    
}