@use '../base/variables' as v;


.nav
{

    &-general{
        display: flex;

        background-color: v.$primario;
        color: white;
        a{
            color: white;
        }
    
    }
    &-izquierda{
       flex-direction: initial;
    }
    
}