@use '../base/variables' as v;


.nav
{

    &-general{
        display: flex;
        width: 80%;
        height: 3rem;
        margin: 0 auto;
        a{
            color: white;

            &:hover
            {
                color: v.$secundario;
                cursor: pointer;
                font-weight: bold;
                
            }
        }

        .barra{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            margin: 0 1rem;
        }
    
    }
    

    &-principal{
        display: flex;
        align-items: center;
        gap: 1rem;

        a{
            display: flex;
            align-items: center;
            line-height: 1;
        }
    }
    
}