@forward 'base';
@forward 'layout';
@use 'base/variables' as v;



a{
    text-decoration: none;
}

body{
    min-height: 100vh;
}
main{
    min-height: calc(100vh - 6rem);
}
li{
    list-style: none;
}



