@forward 'base';
@forward 'layout';
@use 'base/variables' as v;



a{
    text-decoration: none;
}

body{
    min-height: 100vh;
}
main{
    min-height: calc(100vh - 6rem);
}
li{
    list-style: none;
}


section{
    font-family: 'Montserrat', sans-serif;
    &>div
    {
        

        h4{
        
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$primario;
            color: v.$secundarioClaro;
            height: 3rem;
        }

    }
    &:last-child{
        margin-bottom: 2rem;
    }
}
